<mat-card>
  <mat-form-field>
    <input matInput type="text" placeholder="First Name" [(ngModel)]="patient.firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Last Name" [(ngModel)]="patient.lastName">
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput type="text" placeholder="Email" [(ngModel)]="patient.email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Age" [(ngModel)]="patient.age">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Reg ID" [(ngModel)]="patient.patientId">
  </mat-form-field>

  <br />
  <br />
  <button mat-raised-button color="primary" (click)="registerPatient()">Register</button>
</mat-card>